
<div class="container">
  <img src="../../assets/images/logo.png" alt="">
  <!-- <app-navbar></app-navbar> -->
<div>&nbsp;</div>
  <label routerLink='home'>Home</label>
  <label>Contact</label>
  <!-- <label>Contact Account</label> -->
  <label routerLink='Register'>Register</label>
  <label routerLink='profile' *ngIf=!login >my profile </label>
<label *ngIf=!login>Login</label>
<label *ngIf=!login routerLink='Login'>Log out</label>
<img *ngIf=cart_count routerLink='ShoppingCart'class="ShoppingCart" src="../../assets/images/Shopping Cart.png" alt="" srcset="">
</div>

<!-- <label>Sign In</label> -->
<!-- <form>
  <input type="text" id="fname" name="fname" placeholder=" Search books by tiltle author, genres">
  <span class="fa fa-search form-control-feedback fa-x"></span>
</form> -->
<div class="CartCounter" *ngIf=cart_count>
  <span>{{cart_count}}</span>
</div>

<!-- </div>
<div class="counter">
  <span>{{cartcount}}</span>
</div> -->
