<p>shopping-cart works!</p>
<div class="container">
<ng-container >
  <div class="card-tsble">
    <div class="car-product">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Sr.No</th>
            <th>Book Title</th>
            <th>Book Image</th>
            <th>Author</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
</div>
<div class="container">
  <button>Empty Cart</button>
  <button>Shop More</button>
  <button>Checkout</button>
</div>
