<app-header></app-header >
  <div class="showOrderBookScreen" *ngIf =close_window>
    <div>
      <div class="showOrderBookScreenHeader">
        <div>Book Order</div>
        <div (click)='CloseShowBookDetail()'>X</div>
      </div>
      <div>
        <!-- <app-book-order></app-book-order> -->
        <div class="bookDetail">
          <div><img [src]=image alt=""></div>
          <div>2</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf =close_window class="showOrderBook">showOrderBook Div <div (click)='CloseShowBookDetail()'>X</div></div> -->
 <app-home></app-home>
<router-outlet></router-outlet>

<app-footer></app-footer>
